extends layout

block content

    head 

        title Usuarios


        link(rel='stylesheet' href='/producto.css')


        script(src="/producto.js" defer)
        script(src="/jq-editar-perfil.js" defer)

    body  



        section#form.d-flex.justify-content-start.align-item-start.mb-5
            //formularo de registro
            form.form.col.col-xs-12.col-sm-12.col-md-6.col-lg-8(action="/usuario/actualizar-perfil" method="post" enctype="multipart/form-data")
                p.form-title.mt-4 

                .row.input-container
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .row.input-container
                            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                .form-floating
                                    input.form-control#nombreCompletoInput(name="nombreCompleto" placeholder="nombre completo"  value=`${Usuario.nombreCompleto}` type="text")
                                    label(for="nombreCompletoInput") nombre completo

                            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                .form-floating
                                    input.form-control#mailInput(name="mail" placeholder="mail" value=`${Usuario.mail}` type="mail")
                                    label(for="mailInput") mail

                            .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                                .form-floating
                                    input.form-control#telefonoInput(name="telefono" placeholder="telefono" value=`${Usuario.telefono}` type="number")
                                    label(for="telefonoInput") telefono

                            .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                                .form-floating
                                    input.form-control#correoContactoInput(name="correoContacto" placeholder="correo contacto" value=`${Usuario.correoContacto}` type="mail")
                                    label(for="correoContactoInput") correo contacto        

                            if locals.role == "administrador" 
                                .col-12.mt-3
                                    .form-floating
                                        select.form-control.card-text.my-2#rolSelect(name=`rol`)
                                            option(value="1", selected=Usuario.rol == 1) ADMINISTRADOR
                                            option(value="2", selected=Usuario.rol == 2) EMPLEADO
                                        label(for="rolSelect") cargo

                            .col-12.mt-3
                                .form-floating
                                    select.form-control.card-text.my-2#idComercioSelect(name=`idComercio`)
                                        for comercio in Comercios
                                            option(value=comercio.id, selected=Usuario.idComercio == comercio.id) #{comercio.nombre + " - " + comercio.direccion}
                                    label(for="idComercioSelect") comercio
                            .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                                .form-floating
                                    input.form-control#claveAntiguaInput(name="claveAntigua" placeholder="clave antigua" autocomplete="new-password" type="password")
                                    label(for="claveAntiguaInput") clave antigua

                            .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                                .form-floating
                                    input.form-control#claveInput(name="clave" placeholder="nueva clave" autocomplete="new-password" type="password")
                                    label(for="claveInput") nueva clave

                            .container.col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                                .header
                                    svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        g#SVGRepo_bgCarrier(stroke-width="0")
                                        g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
                                        g#SVGRepo_iconCarrier
                                            path(d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                    p foto del usuario
                                label.footer(for="file")
                                    svg(fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                                        g#SVGRepo_bgCarrier(stroke-width="0")
                                        g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
                                        g#SVGRepo_iconCarrier
                                            path(d="M15.331 6H8.5v20h15V14.154h-8.169")
                                            path(d="M18.153 6h-.009v5.342H23.5v-.002")
                                    p Nada seleccionado
                                    svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        g#SVGRepo_bgCarrier(stroke-width="0")
                                        g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
                                        g#SVGRepo_iconCarrier
                                            path(d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="#000000" stroke-width="2")
                                            path(d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round")
                                            path(d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="#000000" stroke-width="2")
                                input#file(type="file" name="imagenUrl")
                            .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3.d-flex.justify-content-center
                                img.card-img-top-profile.rounded-circle(src=`/${Usuario.imagenUrl}`, alt="Imagen del usuario")


                            input(type="hidden" name="id")

                button(type="submit").Btn.btn-agregar
                    | Edit 
                    svg.svg(viewBox="0 0 512 512")
                        path(d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z")




            .recomendaciones.col.col-lg-4.col-md-6.d-none.d-md-block
                .titulo.mt-4.mb-3.d-flex.justify-content-center

                .container.contain-preguntas
                    .pregunta
                        details
                            summary(class="bg-white p-3 rounded") ¿Como debe ser la imagen?
                            p(class="respuesta") Al subir una imagen se  pide que sea en formato PNG, para no alterar el flujo de la pagina

                        details
                            summary(class="bg-white p-3 rounded") ¿Donde puedo crear una imagen PNG?
                            a(class="respuesta" href="https://www.remove.bg/es/upload" target="_blank") https://www.remove.bg/es/upload        

                        details
                            summary(class="bg-white p-3 rounded") ¿Como debe ser la imagen?
                            p(class="respuesta") Al subir una imagen se  pide que sea en formato PNG, para no alterar el flujo de la pagina

                        details
                            summary(class="bg-white p-3 rounded") ¿Donde puedo crear una imagen PNG?
                            a(class="respuesta" href="https://www.remove.bg/es/upload" target="_blank") https://www.remove.bg/es/upload     

                        details
                            summary(class="bg-white p-3 rounded") ¿Como debe ser la imagen?
                            p(class="respuesta") Al subir una imagen se  pide que sea en formato PNG, para no alterar el flujo de la pagina

                        details
                            summary(class="bg-white p-3 rounded") ¿Donde puedo crear una imagen PNG?
                            a(class="respuesta" href="https://www.remove.bg/es/upload" target="_blank") https://www.remove.bg/es/upload      
                        details
                            summary(class="bg-white p-3 rounded") ¿Como debe ser la imagen?
                            p(class="respuesta") Al subir una imagen se  pide que sea en formato PNG, para no alterar el flujo de la pagina

                        details
                            summary(class="bg-white p-3 rounded") ¿Donde puedo crear una imagen PNG?
                            a(class="respuesta" href="https://www.remove.bg/es/upload" target="_blank") https://www.remove.bg/es/upload    

                        details
                            summary(class="bg-white p-3 rounded") ¿Como debe ser la imagen?
                            p(class="respuesta") Al subir una imagen se  pide que sea en formato PNG, para no alterar el flujo de la pagina

                        details
                            summary(class="bg-white p-3 rounded") ¿Donde puedo crear una imagen PNG?
                            a(class="respuesta" href="https://www.remove.bg/es/upload" target="_blank") https://www.remove.bg/es/upload      




    