extends layout

block content

    head 

        title feedback

        link(rel='stylesheet' href='/preguntas-foro.css')
        link(rel='stylesheet' href='/retroalimentacion.css')
        script(src="/preguntas-foro.js" defer)

        script(src="/home.js" defer)
        script(src="/jq-retroalimentaciones.js" defer)


    body  



        .app.mt-5
            main.project

                .d-flex
                    .foro-verde.bg-success.m-2 
                    p.m-2 aceptado
                .d-flex
                    .foro-rojo.bg-danger.m-2 
                    p.m-2 en espera

                .project-tasks

                    each retroalimentacion in RetroalimentacionEnProceso
                        .task(draggable='true' id=`retroalimentacion-${retroalimentacion.id}`)
                            button.btn-borrar(type="button", data-url=`/retroalimentacion/eliminar/${retroalimentacion.id}`, onclick=`eliminarRetroalimentacion(event,${retroalimentacion.id})`)
                                svg.icon(viewBox="0 0 15 17.5" height="17.5" width="15" xmlns="http://www.w3.org/2000/svg")
                                    path#Fill(transform="translate(-2.5 -1.25)" d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z")

                            .task__tags

                            p= retroalimentacion.descripcion
                            .task__stats
                                span
                                    time(datetime="2021-11-24T20:00:00")
                                    span
                                        i.ion-icon(name="flag")= retroalimentacion.fechaEnvio
                                if retroalimentacion.aceptado == 0
                                    span.task__owner.bg-danger
                                else
                                    span.task__owner.bg-success 
                                button.btn.border.border-secondary(type="button" data-bs-toggle="modal" data-bs-target=`#modalEnProceso${retroalimentacion.id}`) + info


                .project-tasks
                    each retroalimentacion in retroalimentacionAceptado
                        .task(draggable='true' id=`retroalimentacion-${retroalimentacion.id}`)
                            button.btn-borrar(type="button", data-url=`/retroalimentacion/eliminar/${retroalimentacion.id}`, onclick=`eliminarRetroalimentacion(event,${retroalimentacion.id})`)
                                svg.icon(viewBox="0 0 15 17.5" height="17.5" width="15" xmlns="http://www.w3.org/2000/svg")
                                    path#Fill(transform="translate(-2.5 -1.25)" d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z")

                            .task__tags

                            p= retroalimentacion.descripcion
                            .task__stats
                                span
                                    time(datetime="2021-11-24T20:00:00")
                                    span
                                        i.ion-icon(name="flag")= retroalimentacion.fechaEnvio
                                if retroalimentacion.aceptado == 0
                                    span.task__owner.bg-danger
                                else
                                    span.task__owner.bg-success 
                                button.btn.border.border-secondary(type="button" data-bs-toggle="modal" data-bs-target=`#modalAceptado${retroalimentacion.id}`) + info    

            each retroalimentacion in RetroalimentacionEnProceso
                .modal.fade(id=`modalEnProceso${retroalimentacion.id}`, tabindex="-1", aria-labelledby=`modalLabelEnProceso${retroalimentacion.id}`, aria-hidden="true")
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5.modal-title#modalLabelAceptado Aceptado
                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                            .modal-body
                                form(action="/foro/actualizar" method="post")
                                    .form-group
                                        label(for=`input1${retroalimentacion.id}`) Descripcion
                                        input.form-control(type="text", value=retroalimentacion.descripcion, id=`input1${retroalimentacion.id}`, name="descripcion")
                                    .form-group
                                        input(type="hidden" name="id", value=`${retroalimentacion.id}`)
                                        .form-check
                                            input.form-check-input(type="checkbox", id=`checkbox${retroalimentacion.id}`, name="checkbox", checked=retroalimentacion.aceptado)
                                            label.form-check-label(for=`checkbox${retroalimentacion.id}`) Aceptado
                                    .modal-footer
                                        button.btn.btn-primary(type="submit") Enviar 

            each retroalimentacion in retroalimentacionAceptado
                .modal.fade(id=`modalAceptado${retroalimentacion.id}`, tabindex="-1", aria-labelledby=`modalLabelAceptado${retroalimentacion.id}`, aria-hidden="true")
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5.modal-title#modalLabelAceptado Aceptado
                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                            .modal-body
                                form(action="/foro/actualizar" method="post")
                                    .form-group
                                        label(for=`input1${retroalimentacion.id}`) Descripcion
                                        input.form-control(type="text", value=retroalimentacion.descripcion, id=`input1${retroalimentacion.id}`, name="descripcion")
                                    .form-group
                                        input(type="hidden" name="id", value=`${retroalimentacion.id}`)
                                        .form-check
                                            input.form-check-input(type="checkbox", id=`checkbox${retroalimentacion.id}`, name="checkbox", checked=retroalimentacion.aceptado)
                                            label.form-check-label(for=`checkbox${retroalimentacion.id}`) Aceptado
                                    .modal-footer
                                        button.btn.btn-primary(type="submit") Enviar    